(function () {
    'use strict';

    angular
        .module('<%= moduleName %>')
        .factory('<%= name %>', <%= name %>);

    <%= name %>.$inject = [];
    /* @ngInject */
    function <%= name %>() {

        return {};
    }
})();
